<!--https://www.garrickadenbuie.com/blog/xaringan-tip-logo-all-slides/-->

<script>
document
  .querySelectorAll(
    '.remark-slide-content' +
    //':not(.title-slide)' +
    ':not(.hide-logo)'
  )
  .forEach(el => {
    el.innerHTML += '<div class="logo"></div>';
  });
</script>