/* For fixed-size slide
.remark-container {
    height: 600px!important;
    width: 900px!important;
  }
*/

.large { font-size: 130% }
.small { font-size: 70% }

/* Remove default bullets */
ul {
  list-style: none; 
}

/* Add colored bullets */
ul li::before {
  content: "\2022";
  color: #C12075;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

/* Add QUEST BIH logo */
.logo {
  background-image: url(https://www.bihealth.org/fileadmin/_processed_/5/4/csm_Quest_Wortmarke_rgb_bf57ac9935.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  bottom: -6em;
  right: 2.6em;
  width: 10em;
  height: 10em;
  z-index: 0;
}

.remark-slide-content { color: #4C626C }
h1 { color: #70ACC0 }
h2 { color: #003754 }

.section-header {
  background-color: #f3f3f3;
  background-image:url(blue-wave_16x9.png);
  background-size: cover;
  border: none;
  font-color: #d6d6d6;
  text-shadow: none;
}

.section-header h1 {
  color: #C12075;
}

.section-header h2 {
  color: #f3f3f3;
}

.title-slide {
  background-color: #f3f3f3;
  background-image: url(blue-wave_16x9.png);
  background-size: cover;
  border: none;
  text-shadow: none;
}
/*
.title-slide {
  background-image: url(https://github.com/DJAnderson07/figs/raw/master/UOSignature-107-4C.png);
  background-position: 95% 95%;
  background-size: 250px;
  border: 10px solid #154733;;
}
*/
.title-slide h1 {
  color: #f3f3f3;
  font-size: 60px;
  text-align: left;
  margin-top: -100px;
  padding-top: 10px;
  padding-bottom: 18px;
  margin-bottom: 10px;
}

.title-slide h2 {
  color: #C12075;
  font-size: 40px;
  text-align: left;
  padding-top: 0px;
  margin-top: 0px;
  padding-bottom: 25px;
  margin-bottom: 20px;
}

.title-slide h3 {
  color: #f3f3f3;
  font-size: 30px;
  text-align: left;
  padding-top: 0px;
  margin-top: 0px;
  line-height: .5;
}

.title-slide .remark-slide-number {
  display: none;
}

.playful {
  background-color: #C12075;
  border: none;
  font-color: #d6d6d6;
}