@import url(https://fonts.googleapis.com/css?family=Fira+Sans:300,300i,400,400i,500,500i,700,700i);

body {
  font-family: 'Fira Sans','Droid Serif', 'Palatino Linotype', 'Book Antiqua', Palatino, 'Microsoft YaHei', 'Songti SC', serif;
}

h1 {
  font-family: 'Fira Sans';
  font-weight: 700;
}

h2, h3 {
  font-family: 'Fira Sans';
  font-weight: normal;
}